@font-face {
    font-family: nauert;
    src: url("media/fonts/NauertRegular.ttf") format("truetype");
}

@font-face {
    font-family: polya;
    src: url("media/fonts/polya-regular.regular.otf") format("opentype");
}


:root {
  --primary-color: #003366;
  --nc-lk-1: var(--primary-color);
  --nc-lk-2: #0055AA;
}

@media (prefers-color-scheme: dark) {
  /* Disable dark mode for now.*/
  :root {
    --nc-tx-1: #000000;
    --nc-tx-2: #1A1A1A;
    --nc-bg-1: #FFFFFF;
    --nc-bg-2: #F6F8FA;
    --nc-bg-3: #E5E7EB;
    --nc-lk-1: var(--primary-color);
    --nc-lk-2: #0055AA;
    --nc-lk-tx: #FFFFFF;
    --nc-ac-1: #79FFE1;
    --nc-ac-tx: #0C4047;
  }
}

header {
  --nc-tx-1: #ffffff;
  --nc-tx-2: #eeeeee;
  --nc-lk-1: #aaccff;
  --nc-lk-2: #dddddd;
  --nc-lk-tx: #FFFFFF;
  background-color: var(--primary-color);
}

h1, h2, h3 {
  margin-bottom: 1rem;
  padding-bottom: .5rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.4rem;
}

h4 {
	font-size: 1.2rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
}

header div.title-div {
  flex: 0 0 auto;
}

header div.subtitle-div {
  flex: 1 1 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

header div.title-div h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

header div.title-div span.title-lm {
  font-family: polya;
  font-weight: normal;
  font-size: 6.35rem;
}

header div.title-div span.title-pq {
  font-family: nauert;
  font-weight: normal;
  font-size: 2.2rem;
}

header h2.subtitle {
  font-weight: normal;
  font-size: 1.3em;
  margin-bottom: 1em;
}

header nav {
  color: var(--nc-tx-2) ;
  margin-bottom: 0.5rem;
}

header nav a {
  white-space: nowrap;
}

body {
  background-color: var(--nc-bg-2);
  max-width: 850px;
}

section {
  background-color: var(--nc-bg-1);
}

figure {
  text-align: center;
}

figcaption {
  font-size: .9rem;
  border-top: 1px solid var(--nc-bg-3);
  padding-top: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  text-align: left;
}

.shadow-box {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 1.25rem;
  margin-top: 3rem;
  background-color: var(--nc-bg-1);
}

.badge {
  background-color: var(--primary-color);
  color: white;
  padding: 3px 8px;
  text-align: center;
  border-radius: 20px;
  font-size: 0.7rem;
}

.badge.acl {
  background-color: #ed1c24;
  margin: .5rem;
}

.leaderboard {
  font-size: .8rem;
}

.leaderboard td, .leaderboard th {
  text-align: center;
}

.leaderboard td:first-child, .leaderboard th:first-child { 
  text-align: left;
}

.contributors-section {
  margin-top: 3rem;
  background: none;
}

.contributors-section > h2 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-bottom: none;
}

.contributors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem 1rem;
}

div.contributor-card {
  flex: 0 0 240px;
  box-sizing: border-box;
  margin-top: 0;
}

div.contributor-card img.portrait{
  width: 100%;
  border-radius: 200px;
}

div.contributor-card h3 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 0.2rem;
}

div.contributor-card ul.contact-info {
  list-style-type: none;
  padding: 0;
  text-align: center;
  font-size: .9rem;
}

div.contributor-card ul.contact-info li a {
  text-decoration: none;
}

div.contributor-card p.contributor-role {
  text-align: center;
  font-weight: lighter;
  margin-bottom: 1rem;
}

section pre {
  padding: 0;
}
